<script lang="ts" type="modules">
    import { _ } from "svelte-i18n";
</script>

<main>
    <div class="about">
        {@html $_("about.section1")}
        {@html $_("about.section2")}
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about {
        width: 100%;
        max-width: 500px;
        white-space: pre-line;
    }
</style>