<script lang="ts">
    import { onMount } from "svelte";
    import { _ } from "svelte-i18n";

    import Stats from "../lib/Stats.svelte";
    import Setting from "../lib/Setting.svelte";

    import { sendAPI } from "../utils/api";

    let instance_address_value = "";
    let address_error = false;
    let loading = true;
    let login = false;
    let user_data: any;

    onMount(async () => {
        // get user's data
        const user_res = await sendAPI("/api/users/user", "GET", undefined)

        if (user_res.ok) {
            user_data = user_res.res
            login = true
            loading = false
            return
        }
        
        // get code in url query and get access token
        const url = new URL(location.href);
        const params = url.searchParams;
        const code = params.get("code");

        // pass if there is no code
        if (!code) {
            loading = false;
            return;
        }

        // get address and client data
        const address = localStorage.getItem("address");
        let client_data: any = localStorage.getItem("client_data");

        if (!address || !client_data) {
            loading = false;
            return;
        }

        client_data = JSON.parse(client_data);

        // get access token
        const getting_token_response = await fetch(`https://${address}/oauth/token`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                client_id: client_data.client_id,
                client_secret: client_data.client_secret,
                redirect_uri: location.origin,
                grant_type: "authorization_code",
                code: code,
                scope: "read write push"
            })
        });
        const token_entity = await getting_token_response.json();
        const access_token = token_entity.access_token;

        // sign in
        const login_response = await fetch("/api/users", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                instance: address,
                access_token: access_token
            })
        });

        if (login_response.ok) {
            location.href = location.origin;
        } else {
            alert("Faild to log in");
            loading = false;
        }
    });

    async function logIn() {
        // remove protocol and slash
        const address = instance_address_value.replace("https://", "").replace("http://", "").replace("/", "");

        // create app and get client id
        try {
            const app_creation_response = await fetch(`https://${address}/api/v1/apps`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "client_name": "Todaytoot",
                    "redirect_uris": location.origin,
                    "scopes": "read write push"
                })
            });

            // check if address is valid
            if (!app_creation_response.ok) {
                address_error = true;
                return;
            }

            const client_data = await app_creation_response.json();

            // save instance address and client data
            localStorage.setItem("address", address);
            localStorage.setItem("client_data", JSON.stringify(client_data));

            // redirect to authorize
            location.href = `https://${address}/oauth/authorize?client_id=${client_data.client_id}&scope=read+write+push&redirect_uri=${location.origin}&response_type=code`;
        } catch (_err) {
            address_error = true;
        }
    }
</script>

<main>
    {#if loading}
    <div class="loading">
        {$_("loading")}
    </div>
    {:else}
        {#if login}
        <Stats user_previous_data={user_data} />
        <Setting user_data={user_data} />
        {:else}
        <div class="login">
            <div class="login-form">
                <input id="instance-address-input" class="instance-address-input" placeholder={$_("login.instance_address_input_placeholder")} bind:value={instance_address_value} />
                <button id="login-btn" class="login-btn" on:click={logIn}>{$_("login.login_button")}</button>
            </div>
            {#if address_error}<p class="address-error">{$_("login.error_in_address")}</p>{/if}
            <div class="privacy-policy">{$_("login.privacy_policy")}</div>
        </div>
        {/if}
    {/if}
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
    }

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .privacy-policy {
        white-space: pre-line;
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .address-error {
        font-size: 14px;
        color: red;
    }

    .login-form {
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }

    .instance-address-input {
        width: 250px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background-color: var(--input-color);
        margin-right: 5px;
        border-radius: 5px;
    }

    .instance-address-input:focus {
        outline: 2px solid var(--input-outline-color);
    }

    .login-btn {
        background-color: var(--button-color);
        border: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
    }
</style>