<script lang="ts">
  import Routes from "svelte-spa-router";
  import { isLoading } from "svelte-i18n";

  import Home from "./pages/Home.svelte";
  import Header from "./lib/Header.svelte";
  import About from "./pages/About.svelte";

  import "./i18n/i18";

  let menu: boolean;

  const routes = {
    "/": Home,
    "/about": About,
  }

  function closeMenu(e: any) {
    if (e.target.id !== "m") {
      menu = false;
    }
  }
</script>

<svelte:head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  <link rel="icon" type="image/svg" href="/assets/favicon.svg" />
</svelte:head>

<svelte:body on:click={closeMenu}></svelte:body>

{#if !$isLoading}
<Header bind:menu={menu} />
<Routes {routes} />
{/if}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

  @font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  :global(:root) {
    --background-color: #eaeaea;
    --input-color: #9e9e9e;
    --button-color: #b2b2b2;
    --text-color: black;
    --input-outline-color: #424242;
    --menu-color: #c5c5c5;
  }

  @media (prefers-color-scheme: dark) {
    :global(:root) {
      --background-color: #424242;
      --input-color: #212121;
      --button-color: #2d2d2d;
      --text-color: rgb(241, 241, 241);
      --input-outline-color: #9e9e9e;
      --menu-color: #2b2b2b;
    } 
  }

  :global(html, body) {
    height: 100%;
  }

  :global(body) {
    margin: 0;
    background-color: var(--background-color);
  }

  :global(#app) {
    padding-bottom: 100px;
  }

  :global(*) {
    font-family: 'Poppins', "NanumSquareNeo", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
  }
</style>