<script lang="ts">
    import { onMount } from "svelte";
    import { link } from 'svelte-spa-router';
    import { _ } from "svelte-i18n";

    import { sendAPI } from "../utils/api";

    let instance_address: any;
    let access_token: any;
    let user_data: any;
    let mst_data: any;
    let loading = true;
    let login = false;

    export let menu = false;

    onMount(async () => {
        // get user's data
        user_data = await sendAPI("/api/users/user", "GET", undefined)

        if (user_data.ok) {
            login = true
        } else {
            login = false
        }

        instance_address = user_data.res.instance
        access_token = user_data.res.access_token

        // get mastodon data
        const mst_data_res = await fetch(`https://${instance_address}/api/v1/accounts/verify_credentials`, {
            method: "GET",
            headers: {
                "Authorization": `Bearer ${access_token}`
            }
        });
        if (mst_data_res.ok) {
            mst_data = await mst_data_res.json();
        }

        loading = false
    });

    async function logOut() {
        const res = await sendAPI("/api/users/log_out", "GET", undefined)
        location.reload()
    }

    async function deleteAccount() {
        let agree = confirm($_("header.delete_account"));

        if (agree) {
            const res = await sendAPI("/api/users", "DELETE", undefined)
            location.reload()
        }
    }

    function openOrCloseMenu() {
        menu = menu ? false : true;
    }
</script>

{#if !loading}
<header>
    <a use:link href="/"><h1 class="title">Todaytoot</h1></a>

    <button id="m" class="menu-btn" on:click={openOrCloseMenu}><span id="m" class="material-symbols-outlined">menu</span></button>
</header>

<!-- popup menu -->
{#if menu}
<div class="menu" id="m">
    <a use:link class="btn" id="m" href="/about">{$_("menu.about")}</a>

    {#if login}
    <a class="btn" id="m" href={mst_data.url}>{$_("menu.profile")}</a>

    <button class="btn" id="m" on:click={logOut}>{$_("menu.logout")}</button>

    <button class="btn" id="m" on:click={deleteAccount}>{$_("menu.delete_account")}</button>
    {/if}
</div>
{/if}
{/if}

<style>
    header {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .title {
        margin: 0;
        font-size: 20px;
        color: var(--text-color);
        text-decoration: none;
    }

    .menu-btn {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0%;
        margin-right: 30px;
        background-color: var(--menu-color);
        padding: 10px;
        border-radius: 5px;
    }

    .menu .btn {
        background-color: rgba(0,0,0,0);
        border: none;
        padding: 6px;
        font-size: 16px;
        text-align: center;
    }

    @media screen and (max-width: 500px) {
        header {
            padding: 10px 15px;
        }
    }
</style>