<script lang="ts" type="modules">
    import { onMount } from "svelte";
    import { _ } from "svelte-i18n";
    import { sendAPI } from "../utils/api";

    let instance_address: string | null;
    let access_token: string | null;
    export let user_data: any;
    let account: any;
    let loading = true;

    let toot_template: string;
    let toot_privacy: string;

    let saved = false;
    let save_error = false;

    onMount(async () => {
        // get instance address and access token from local storage
        // instance_address = user_data.instance
        // access_token = user_data.access_token

        toot_template = user_data.status_template;
        toot_privacy = user_data.status_visibility;

        loading = false;
    });

    async function saveSetting() {
        if (toot_template.length === 0 || toot_template.length > 500) {
            save_error = true;
            setTimeout(() => save_error = false, 5000);
            return;
        }

        const setting_res = await sendAPI("/api/users/user/setting", "PUT", {
            status_template: toot_template,
            status_visibility: toot_privacy
        })

        if (setting_res.ok) {
            saved = true;
            setTimeout(() => saved = false, 2000);
        }
    }
</script>

{#if !loading}
<div class="setting">
    <h1 class="main-title">{$_("setting.title")}</h1>

    <div class="forms">
        <div class="setting-form">
            <h2 class="title">{$_("setting.template_title")}</h2>
            <p class="subtitle">{$_("setting.template_subtitle")}</p>
            <details class="variables-note">
                <summary>{$_("setting.variables")}</summary>
                <p>{$_("setting.variables_note")}</p>
            </details>
            <textarea class="toot-template" bind:value={toot_template}></textarea>
        </div>

        <div class="setting-form">
            <h2 class="title">{$_("setting.toot_privacy_title")}</h2>
            <p class="subtitle">{$_("setting.toot_privacy_subtitle")}</p>
            <select class="toot-privacy" bind:value={toot_privacy}>
                <option value="public">{$_("setting.public")}</option>
                <option value="unlisted">{$_("setting.unlisted")}</option>
                <option value="private">{$_("setting.followers_only")}</option>
                <option value="direct">{$_("setting.direct")}</option>
            </select>
        </div>

        <button class="submit" on:click={saveSetting}>{$_("setting.submit")}</button>

        {#if saved}
        <p class="save-message">{$_("setting.saved")}</p>
        {/if}

        {#if save_error}
        <p class="save-message">{$_("setting.save_error")}</p>
        {/if}
    </div>
</div>
{/if}

<style>
    .main-title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        width: 90%;
        max-width: 500px;
        text-align: center;
    }

    .variables-note {
        cursor: pointer;
        margin-bottom: 20px;
    }
    .variables-note p {
        white-space: pre-line;
    }

    .setting {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .forms {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
    }

    .setting-form {
        margin-bottom: 30px;
    }

    .title, .subtitle {
        margin: 0;
    }

    .title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .toot-template {
        background-color: var(--input-color);
        width: 100%;
        height: 300px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        resize: vertical;
    }

    .toot-template:focus {
        outline: 2px solid var(--input-outline-color);
    }

    .toot-privacy {
        background-color: var(--input-color);
        border: none;
        width: 300px;
        padding: 6px;
        font-size: 16px;
        border-radius: 5px;
    }

    .submit {
        width: max-content;
        background-color: var(--button-color);
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
    }

</style>