<script lang="ts" type="modules">
    import { onMount } from "svelte";
    import { _ } from "svelte-i18n";

    let stats_values: Array<Array<number | string>>;
    let loading = true;
    let instance_address: string | null;
    let access_token: string | null;
    let user_data: any;
    export let user_previous_data;

    onMount(async () => {
        // get current user's data
        const user_res = await fetch(`https://${user_previous_data.instance}/api/v1/accounts/verify_credentials`, {
            headers: {
                "Authorization": "Bearer " + user_previous_data.access_token
            }
        })
        user_data = await user_res.json()

        // make stats
        stats_values = [
            [
                user_data.statuses_count,
                calcDelta(user_previous_data.statuses_count, user_data.statuses_count),
                $_("stats.toots")
            ],
            [
                user_data.following_count,
                calcDelta(user_previous_data.following_count, user_data.following_count),
                $_("stats.following")
            ],
            [
                user_data.followers_count,
                calcDelta(user_previous_data.followers_count, user_data.followers_count),
                $_("stats.followers")
            ]
        ];

        loading = false;
    });

    function calcDelta(previous: number, current: number) {
        let delta = current - previous;

        if (delta > 0) {
            return `+${delta}`;
        }

        return String(delta);
    }
</script>

{#if loading}
<div class="loading">
    {$_("loading")}
</div>
{:else}
<div class="stats">
    <h1 class="stats-title">{user_data.display_name + $_("stats.title")}</h1>

    <div class="stats-values">
        {#each stats_values as stats_value}
        <div class="stats-value">
            <div class="key">
                {stats_value[2]}
            </div>
            <div class="current">
                {stats_value[0]}
            </div>
            <div class="delta">
                {stats_value[1]}
            </div>
        </div>
        {/each}
    </div>
</div>
{/if}

<style>
    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .stats-title {
        font-size: 18px;
    }

    .stats-values {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .stats-value {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px;
        width: 100px;
    }

    @media screen and (max-width: 500px) {
        .stats-values {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .stats-value {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            width: 100px;
        }

        .stats-title {
            width: 90%;
        }
    }

    .key {
        font-size: 16px;
    }

    .current {
        font-size: 30px;
    }
</style>